Lab5/Lab2/Connected Services/FontServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFServiceContract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Lab2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetString" />
  </wsdl:message>
  <wsdl:message name="IService_GetString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetString_InputMessage">
    <wsdl:part name="parameters" element="tns:SetString" />
  </wsdl:message>
  <wsdl:message name="IService_SetString_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendFontData_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFontData" />
  </wsdl:message>
  <wsdl:message name="IService_SendFontData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFontDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveFontData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFontData" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveFontData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFontDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetString" message="tns:IService_GetString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStringResponse" message="tns:IService_GetString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetString" message="tns:IService_SetString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetStringResponse" message="tns:IService_SetString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFontData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendFontData" message="tns:IService_SendFontData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendFontDataResponse" message="tns:IService_SendFontData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveFontData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReceiveFontData" message="tns:IService_ReceiveFontData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveFontDataResponse" message="tns:IService_ReceiveFontData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetString">
      <soap12:operation soapAction="http://tempuri.org/IService/GetString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetString">
      <soap12:operation soapAction="http://tempuri.org/IService/SetString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFontData">
      <soap12:operation soapAction="http://tempuri.org/IService/SendFontData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFontData">
      <soap12:operation soapAction="http://tempuri.org/IService/ReceiveFontData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFServiceContract">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://localhost:8731/WCFService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8731/WCFService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-5NV60FL7\shant</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>